.heroButton {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.25rem;
  line-height: 1.75rem;
  position: relative;
}

.heroButton::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #38a169;
  transform-origin: center;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.heroButton:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.cutoff {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 75%);
}

html {
  scroll-behavior: smooth;
}
